html,
body,
button,
input,
select,
textarea,
p
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;

ul, li
    margin 0
    padding 0
    list-style none

*
    box-sizing border-box

a
    text-decoration none

textarea
    resize none